#container-mainpage-secondframe > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    align-items: center;
}

#container-mainpage-secondframe > div > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.4s ease;
    position: relative;
}

.bread-name {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.bread-container:hover .bread-name {
    visibility: visible;
    opacity: 1;
}

#container-mainpage-secondframe img{
    width: 100%;
    height: 101%;
    object-fit:cover;
    display: block;
    transition: transform 0.4s ease;
}

/* when scale the photo with the hover*/
#container-mainpage-secondframe > div > div:hover {
    transform: scale(1.15);
    z-index: 2;
    border-radius: 2vh;
    transition: all 0.4s ease;
}


/* pc landscape*/
@media screen and (min-width: 900px) and (max-width: 1499px) and (min-height: 1400px) {
    #container-mainpage-secondframe{
        height: 0vh;
    }
}


/* phone screen */
@media (max-width: 480px) {
    #container-mainpage-secondframe img{
        height: 30vh;
        width: 35vw;
        object-fit: fill;
    }
    
    .bread-name {
        font-size: 16px;
    }
}
