#mainpage-fourthframe{
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #F3E2B3 0%, #F3E2B3 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#mainpage-fourthframe-contact-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30vw;
    height: 25vh;

}

#mainpage-fourthframe-contact-us > h1{
    display: flex;
    color: #553728;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style:bold;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

#container-phones{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;       
    align-items: center;
    
}

#phones-numbers{
    color: #553728;
    font-family: 'Poppins', sans-serif;
    text-decoration:underline;
}

#phones-numbers p{
    margin: 4px 0;
    padding: 0;
}

#container-email{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 20px;       
    align-items: center;
    text-decoration: underline;
}

#mainpage-fourthframe-icons-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 60vw;
    height: 30vh; 
}

#icon-tiktok{
    background: #FFF;
    border-radius: 30px;
    
}