#mainpage-fourthframe{
    display: flex;
    width: 100vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #F3E2B3 0%, #F3E2B3 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#mainpage-fourthframe-contact-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 30vw;
    height: 25vh;

}

#mainpage-fourthframe-contact-us > h1{
    display: flex;
    color: #553728;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style:bold;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 20px;
}

#container-phones{
    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 20px;       
    align-items: center;
    
}

#phones-numbers{
    color: #553728;
    font-family: 'Poppins', sans-serif;
    text-decoration:underline;
}

#phones-numbers p{
    margin: 4px 0;
    padding: 0;
}

#container-email{
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 20px;       
    align-items: center;
    text-decoration: underline;
}

#mainpage-fourthframe-icons-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 60vw;
    height: 30vh; 
}

#icon-tiktok{
    background: #FFF;
    border-radius: 30px;
    
}

/** tablet screen*/
@media screen and (min-width: 760px) and (max-width: 1000px) and (orientation: portrait){
    #mainpage-fourthframe{
        height: 44vh;

    }

    #mainpage-fourthframe-icons-social-media{
        gap: 10px;
    }

    #mainpage-fourthframe-icons-social-media img{
        width: 18vw;
        gap: 10px;
    }

    #mainpage-fourthframe-contact-us{
        width: 40vw;
        height: 20vh;
        margin-left: 3vw;
    }
}
/** tablet screen landscape*/
@media screen and (min-width: 1001px) and (max-width: 1199px) and (orientation: landscape){
    #mainpage-fourthframe{
        height: 41vh;

    }

    #mainpage-fourthframe-icons-social-media img{
        width: 15vw;
    }

    #mainpage-fourthframe-contact-us{
        width: 35vw;
        height: 22vh;
        margin-left: 3vw;
    }
}

/** phone screen*/
@media screen and (max-width: 759px){
    #mainpage-fourthframe{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 20px;
    }

    #mainpage-fourthframe-icons-social-media{
        width: 80vw;
        height: auto; 
        gap: 20px;
    }

    #mainpage-fourthframe-icons-social-media img{
        width: 25vw;
    }

    #mainpage-fourthframe-contact-us{
        width: 70vw;
        height: auto;
        margin-left: 0;
        align-items: flex-start;
        text-align: center;
    }
}

/** phone screen landscape*/
@media screen and (min-width: 760px) and (max-width: 1000px) and (orientation: landscape){
    #mainpage-fourthframe{
        height: 90vh;

    }

    #mainpage-fourthframe-icons-social-media{
        gap: 10px;
    }

    #mainpage-fourthframe-icons-social-media img{
        width: 18vw;
        gap: 10px;
    }

    #mainpage-fourthframe-contact-us{
        width: 40vw;
        height: 20vh;
        margin-left: 3vw;
    }
}