#MainPage-FrameStart{
    height: 100vh;
    width: 100vw;
    background-image: url('../../Image/MainPage-FirstFrame.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

#transparent-square{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px -900px;
    width: 867px;
    height: 396px;
    border-radius: 59px;
    border: 2px solid #675934;
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    transform: translate(1000px);
    transition: all 3s ease;
    transition-delay: 3s;
}

#transparent-square h1{
    font-family: 'Arial Black', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}