#container-thirdframe{
    display: flex;
    width: 100%;
    height: 227px;
    align-items: center;
    gap: 209px;
    flex-shrink: 0;
    background: #8B4A2B;
}

#container-thirdframe > div{
    display: flex;
    width: 725px;
    height: 227px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#text-about-us{
    color: #E3C9B0;
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

#btn-read-more{
    /* disposition*/
    display: flex;
    width: 238.762px;
    height: 84.767px;
    justify-content: center;
    align-items: center;
    gap: 13.407px;
    flex-shrink: 0;

    /* styles for button and fonts*/
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    cursor: pointer;
    border-radius: 151.279px;
    box-shadow: 0 0 36.733px 28.256px rgba(202, 169, 60, 0.25);
    border-color: transparent;

}

#btn-read-more:hover{
    background-color: #E3C9B0;
    color: #8B4A2B;
    transition: all 0.3s ease-in-out;
}

#btn-read-more:not(:hover){
    background-color: #DC8C45;
    color: #FFf;
    transition: all 0.3s ease-in-out;
}
