:root {
    --main-text-color: #F3E2B3;
    --main-bg-color: #553728;
}

li {
    list-style-type: none
}


.footer-content {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    display: flex;
    padding: 48px 80px;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.column-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    align-self: stretch;
}

.subtitle-footer {
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
} 

.schedule-item {
    justify-items: left;
}  

.icons-item {
    display: flex;
    align-items: center;
    gap: 16px;

}

.contact-icon {
    width: 24px;
    height: 24px;
}