#container-thirdframe{
    display: flex;
    width: 100vw;
    height: 25vh;
    align-items: center;
    gap: 20vw;
    flex-shrink: 0;
    background: #8B4A2B;
}

#container-thirdframe > div{
    display: flex;    
    justify-content: center;
    align-items: center;
}

#text-about-us{
    font-weight: 700;
    padding-left: 2.4vw;
    color: #E3C9B0;
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-size: 4vw;
    font-style: normal;
    
}

#btn-read-more{
    /* disposition*/
    display: flex;
    width: 25vw;
    height: 9.5vh;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex-shrink: 0;

    /* styles for button and fonts*/
    text-align: center;
    font-family: 'Poppins', sans-serif;   
    font-size: 1.4vw;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    cursor: pointer;
    border-radius: 10vh;
    box-shadow: 0 0 2.5vw 2vw rgba(202, 169, 60, 0.25);
    border-color: transparent;

}

#btn-read-more:hover{
    background-color: #E3C9B0;
    color: #8B4A2B;
    transition: all 0.3s ease-in-out;
}

#btn-read-more:not(:hover){
    background-color: #DC8C45;
    color: #FFF;
    transition: all 0.3s ease-in-out;
}

/* pc landscape*/
@media screen and (width: 900px){
  #container-thirdframe{
        height: 20vh;
        gap: 15vw;
    }

    #text-about-us{
        font-size: 4.5vw;
    }

    #btn-read-more{
        width: 30vw;
        height: 8vh;
        font-size: 1.5vw;
    }
}

/* tablet screen*/
@media (max-width: 778px) {
    #container-thirdframe{
        height: 25vh;
        justify-content: space-between;
        gap: 0;
    }

    #text-about-us{
        font-size: 6vw;
        padding-left: 2vw;

    }

    #btn-read-more{
        width: 30vw;
        height: 8vh;
        font-size: 2.2vw;
        margin-right: 2vw;
    }
}

/* tablet screen landscape*/
@media (max-width: 1025px) and (orientation: landscape) {
    #container-thirdframe{
        height: 35vh;
        gap: 10vw;
    }

    #text-about-us{
        font-size: 5vw;
        margin-left: 5vw;
        text-align: start;
    }

    #btn-read-more{
        width: 28vw;
        height: 12vh;
        font-size: 1.8vw;
    }
}

/* pc large screen */
@media screen and (min-width: 1500px){
    #text-about-us{
        font-size: 4vw;
        margin-left: 9vw;

    }

    #btn-read-more{
        width: 15vw;
        height: 9vh;
        font-size: 1.3vw;
    }
}


/* phone screen */
@media (max-width: 480px) {
    #container-thirdframe{
        height: 20vh;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 4vh;
    }

    #container-thirdframe > div{
        height: 10vh;
    }

    #text-about-us{
        font-size: 8vw;
    }

    #btn-read-more{
        width: 70vw;
        height: 7vh;
        font-size: 5vw;
        margin-left: 25px;
    }
}

/* phone screen  landscape*/
@media screen and (max-width: 846px) and (orientation: landscape) {
    #container-thirdframe{
        height: 40vh;
        gap: 8vw;
    }

    #text-about-us{
        font-size: 6vw;
    }

    #btn-read-more{
        width: 25vw;
        height: 15vh;
        font-size: 2.5vw;
    }
}