@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');


#navbar {
    background-color: #F3E2B3;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: auto;
    max-height: 65px;
 
}

#divCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    
}

#logoNavbar {
    height: 75px;
    min-width: 76px;
    border-radius: 385px;
    border: 3px solid #553728 ;
  
}

h2 {
    color: #553728;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-size: 100%;
    margin: 0px 10px 0px 10px;

}

h2:hover {
    animation: OptionInicio 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    animation-fill-mode: both;
}

@keyframes OptionInicio {
    0% {color: #553728; transform: scale(1);}
    50% {color: #fffdf9; transform: scale(1.2); font-style: inherit;}
    100% {color: #553728; transform: scale(1.2); font-style: inherit;}
}