@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

:root {
    --color-brown-dark: #553728;
    --color-beige-background: #F3E2B3;
    --color-white-cream: #fffdf9;
}

#navbar {
    background-color: #F3E2B3;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    min-height: 125px;    
    min-width: 700px;
    width: 100%;
    flex-wrap: wrap;

}

#divCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#iconPymeNavbar {
    width: 98px;
    height: 98px;
    border-radius: 385px;
    border: 3px solid #553728;
  
}

#divCenter a {
    color: #553728;
    font-family: 'ABeeZee', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 20px 0px 10px;
    text-decoration: none;
}

#divCenter a:hover {
    animation: OptionInicio 0.5s ease-in-out;
    animation-fill-mode: forwards;
   
}

@keyframes OptionInicio {
    0% {color: #553728; transform: scale(1);}
    50% {color: #8B4A2B; transform: scale(1.2); font-style: inherit;}
    100% {color: #553728; transform: scale(1.2); text-decoration: underline;}
}

#divRight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#divLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
    
#iconFbNavbar{
    width: 45px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#iconFbNavbar:hover {
    transform: scale(1.2);
    filter:invert(10%)
}

#iconIgNavbar{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: #553728;

}

#iconIgNavbar:hover {
    transform: scale(1.2);
    animation-name: instagramHover;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes instagramHover {
    0% {filter: invert(0%);}
    50% {filter: invert(70%);}
    100% {filter: invert(0%);}
}
