#container-mainpage-secondframe{
    width: 100%;
    height: auto;
}

#container-mainpage-secondframe > div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    width: 100%;
    gap: 0;
}

#container-mainpage-secondframe > div > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 0;
}

#container-mainpage-secondframe img{
    width: 102%;
    height: 101%;
    object-fit: cover;
    display: block;
}
