.about3-container {
  background-color: #fff7ec;
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0px;
}

.about3-container > div:nth-child {
  padding: clamp(2rem, 5vw, 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about3-info h3 {
  color: #553728;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(20px, 3vw, 30px);
  font-style: normal;
  font-weight: 750;
  line-height: 125%;
  letter-spacing: -0.36px;
}

.about3-info p {
  color: #553728;
  font-family: "Inter", sans-serif;
  font-size: clamp(16px, 2vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}