.background {
  width: auto;
  height: 70vh;
  background-color: #fff7ec;
  padding: 8vh 15vw;
  margin-top: 0;
}

.background h1 {
  font-family: "Inter", sans-serif;
  font-size: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #d8a45a;
  margin-top: 6vh;
}

.background p {
  color: #f3e2b3;
  text-align: justify;
  margin: 0vw 2vw;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 150%;
}

.info {
  background-color: #553728;
  border-radius: 50px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

/* .info video {
  width: 100%;
  height: 100%;
  border-radius: 50px 0 0 50px;
} */
